DATABASE_URL="postgresql://db_reserchportal_user:eiOiCTopaKlkeqOLg173QQGqt1XrKQs1@dpg-d7ibnvqqqhas73903qq0-a.oregon-postgres.render.com/db_reserchportal"
JWT_ACCESS_SECRET="U3JbXfIMc5KFMz8K9myXK0l4LtgF8/Li1jZlU5dNa1xgMax01gaLWXqczdQtipk6MaoLE05UfmqE9mrFTPGA4A=="
JWT_REFRESH_SECRET="hNH8kDIh7JKbxUj2c4RnHSd1GXa0SCg/t7F+RU8gpWGFbClZ/9WFb13q+R8uaoPXOEnIV2gdka7tMfVNg7GPvA=="
JWT_ACCESS_TTL="15m"
JWT_REFRESH_TTL="7d"
NEXT_PUBLIC_API_BASE_URL=https://research-portal-api.onrender.com/api
INTERNAL_API_BASE_URL=http://127.0.0.1:3001/api
NEXT_PUBLIC_APP_NAME=LGU Research Portal
MEILISEARCH_HOST="http://localhost:7700"
MEILISEARCH_API_KEY="change-me"

